.point{
  font-weight: bold;
}
.about-points{
  color: rgb(0, 0, 0);

}
.about-circle-box{
  color: black;
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px;
}

.circle {
  width: 310px;
  height: 270px;
  border-radius:10%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 5px solid #2b78dd;
  
}

.circle:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 50% 50%;
}

.active img {
  opacity: 0.4;
}
