.navbar {
  position: fixed;     /* lock on top */
  top: 0;              /* always at the very top */
  left: 0;
  width: 100%; 
  background-color:#741801c2; 
  padding: 2rem 2rem;
  margin-top: 0%;   
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  justify-content: center;
  align-items: center;
text-align: center;
}

.digital{

    margin-top: 0%;   
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
    color: rgb(255, 249, 249);
    font-size: 10px;
     list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  max-width: 1100px;
}
.nav-links {
  list-style: none;       
  display: flex;          
  gap: 4rem;              
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
   list-style:none;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.nav-links li a {
    color :#ffffff;     
  text-decoration: none;  
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;

}

.nav-links li a:hover {
  color: #eb1d1d;      
}
.digital span {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}

.sky {
  color:white; 
  font-weight: bold;
  font: size 20px;
}

.black {
  color: rgb(235, 230, 240);
  font-weight: bold;
  font-size: 10px;
}
.btn{
 
    background-color: rgb(59, 47, 128);
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    width: 40px;
    height: 40px;
    gap: 10px;
   


}

.name{
gap: 10px;
justify-content: space-between;
}