.next {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
}

.gen {
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 10px;
}

.imgset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  margin: 70px auto;
  max-width: 1300px;
}

.imgBox {
  position: relative;
  width: 310px;
  height: 260px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #5f0909;
  transition: all 0.4s ease;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.imgBox:hover img {
  transform: scale(1.1);
}

/* Overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(90, 31, 184, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.imgBox:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
